.login-form
	div.alert-alert-success(*ngIf="response?.success === true", role="alert") {{response?.message}}
	div.alert-alert-danger(*ngIf="response?.success === false", role="alert") {{response?.message}}
	form
		h1 Please enter email
		.form-group.mt-2
			label(for='exampleInputEmail1') Email
			input#exampleInputEmail1.form-control.mt-1([formControl]="email", type='email', aria-describedby='emailHelp', placeholder='Enter email')
		div
			button.btn.btn-primary.mt-2(type='button', (click)="sendEmail()") Send email