div.dashboard_container
    div.content-wrapper
        .centered-info-div
            .small-text Hello, I am Sanskruti
            .big-text 
                div A artist that turns 
                div 
                    span.italic curiosity 
                    span in 
                    span.italic creativity
        
        .about-me#about_me(#about_me='')
            div this is about me

        .my-services#my_services(#my_services='')
            div My services