
<div class="dashboard_container">
  <div class="content-wrapper">
    <div class="centered-info-div">
      <div class="small-text">Hello, I am Sanskruti</div>
      <div class="big-text"> 
        <div>An artist that turns </div>
        <div> <span class="italic">curiosity </span><span>in </span><span class="italic">creativity</span></div>
      </div>
    </div>
    <div class="about-me" id="about_me" #about_me="">
      <div>this is about me</div>
    </div>
    <div class="my-services" id="my_services" #my_services="">
      <div>My services</div>
    </div>
  </div>
</div>