.login-form([formGroup]="resetPasswordForm")
	form
		h1 Please enter your password
		.form-group.mt-2
			.form-group.mt-2
				label(for='password') Password
				input#password.form-control.mt-1(formControlName="password", type='password', placeholder='Password')
			.form-group.mt-2
				label(for='cPassword') Confirm password
				input#cPassword.form-control.mt-1(formControlName="password_confirm", type='password', placeholder='Confirm password')
			button.btn.btn-primary.mt-2(type='submit', (click)="submitPassword()") Submit