div.dashboard_container
    nav.navbar.navbar-expand-lg.p-md-4.p-sm-3.border-bottom
        .container-fluid
            a.navbar-brand.flex.nav-logo(href='/home') Art by 
                span.logo-name-highlight Sanskruti
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarScroll' aria-controls='navbarScroll' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarScroll.collapse.navbar-collapse.flex-grow-0
                ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll(style='--bs-scroll-height: 100px;')
                    //- li.nav-item.me-4
                    //-     a.nav-link.active(aria-current='page') My Services
                    //- li.nav-item.me-4
                    //-     a.nav-link.active(aria-current='page') About me
                    //- li.nav-item.me-4
                    //-     a.nav-link.active(aria-current='page', href='#') Contact
                    li.nav-item.me-4
                        a.nav-link.active(aria-current='page', (click)="goToStore()") My Store
                    li.nav-item
                        a.nav-link.active(aria-current='page', (click)="goToLogin()") {{user ? user.displayName : 'Login'}}
    router-outlet