.store-container {
    margin: 0 200px;

    .section-title {
        font-size: 24px;
    }

    .product-wrapper {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        flex-wrap: wrap;


        .card {
            margin-right: 24px;
            margin-bottom: 24px;
        }
    }
}

.card-img-top {
    max-height: 200px;
    max-width: 400px;
    object-fit: cover;
}

@media screen and (max-width: 974px) {
    .store-container {
        margin: 0 40px;
    }
}