
<div class="store-container my-5">
  <div class="section-title">Oil painings</div>
  <button class="btn btn-primary margin mt-4" *ngIf="isSuperUser" type="button" (click)="addProduct()">Add product</button>
  <div class="product-wrapper my-4">
    <div class="card" style="width: 20rem;" *ngFor="let product of products">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <div class="card-text">Rs. {{product.price}}</div>
        <div class="card-text">Quantity available - {{product.quantity_available}}</div>
        <button class="btn btn-outline-primary mt-3" type="button">Buy now</button>
      </div>
    </div>
  </div>
</div>