div.store-container.my-5
    div.section-title Oil painings
    
    button.btn.btn-primary.margin.mt-4(*ngIf="isSuperUser", type="button", (click)="addProduct()") Add product
    
    div.product-wrapper.my-4
        .card(style='width: 20rem;', *ngFor="let product of products")
            //- img.card-img-top(src='https://picsum.photos/200/300', alt='Sample image')
            .card-body
                h5.card-title {{product.title}}
                div.card-text Rs. {{product.price}}
                div.card-text Quantity available - {{product.quantity_available}}
                button.btn.btn-outline-primary.mt-3(type="button") Buy now
                