
<div class="store-container my-5">
  <div class="section-title">Oil painings</div>
  <div class="product-wrapper my-4">
    <div class="card" style="width: 20rem;" *ngFor="let a of [1,2,3,4,5,6,7,8,9,10]"><img class="card-img-top" src="https://picsum.photos/200/300" alt="Sample image"/>
      <div class="card-body">
        <h5 class="card-title">Art title</h5>
        <div class="card-text">Rs. 400</div>
        <button class="btn btn-outline-primary mt-3" type="button">Buy now</button>
      </div>
    </div>
  </div>
</div>