
<div class="login-form" [formGroup]="loginForm">
  <form>
    <h1>Please Sign In</h1>
    <div class="form-group mt-2">
      <label for="exampleInputEmail1">Email</label>
      <input class="form-control mt-1" id="exampleInputEmail1" formControlName="email" type="email" aria-describedby="emailHelp" placeholder="Enter email"/>
    </div>
    <div class="form-group mt-2">
      <label for="exampleInputPassword1">Password</label>
      <input class="form-control mt-1" id="exampleInputPassword1" formControlName="password" type="password" placeholder="Password"/>
    </div>
    <button class="btn btn-primary mt-2" type="submit">Login</button>
  </form>
</div>