.login-form([formGroup]="loginForm")
	form
		h1 Please Sign In
		.form-group.mt-2
			label(for='exampleInputEmail1') Email
			input#exampleInputEmail1.form-control.mt-1(formControlName="email", type='email', aria-describedby='emailHelp', placeholder='Enter email')
		.form-group.mt-2
			label(for='exampleInputPassword1') Password
			input#exampleInputPassword1.form-control.mt-1(formControlName="password", type='password', placeholder='Password')
		button.btn.btn-primary.mt-2(type='submit', (click)="login()") Login
		button.btn.btn-primary.mt-2.mx-2(type='submit', (click)="forgotPassword()") Reset password
	asl-google-signin-button.margin.mt-2(type='standard', size='large', width='300', (click)="singInWithGoogle()")
	//- button.btn.btn-primary.my-2((click)="singInWithGoogle()") Sign in with google