* {
    font-family: "DM Serif Text", serif;
    letter-spacing: normal;
}

@import 'styles/reset';
@import 'styles/common';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.fix-max-width-dbox-712.cdk-overlay-pane {
    max-width: 712px !important;
    min-width: 712px;
}