.login-form([formGroup]="registerForm")
	form
		h2(*ngIf="registerForm?.invalid") Form is invalid.
		h1 Please Register
		.form-group.mt-2
			label(for='exampleInputEmail1') Email address
			input#exampleInputEmail1.form-control.mt-1(formControlName="email", type='email', aria-describedby='emailHelp', placeholder='Enter email')
			.form-group.mt-2
				label(for='firstName') First name
				input#firstName.form-control.mt-1(formControlName="first_name", type='text', placeholder='Enter first name')
			.form-group.mt-2
				label(for='lastName') Last name
				input#lastName.form-control.mt-1(formControlName="last_name", type='text',  placeholder='Enter last name')
			.form-group.mt-2
				label(for='password') Password
				input#password.form-control.mt-1(formControlName="password", type='password', placeholder='Password')
			.form-group.mt-2
				label(for='cPassword') Confirm password
				input#cPassword.form-control.mt-1(formControlName="password_confirm", type='password', placeholder='Confirm password')
			button.btn.btn-primary.mt-2(type='submit', (click)="submitForm()") Submit